<div class="card shadow p-4">
  <div class="card-header py-2">
    <%if(!publish) {%>
    <button class="btn btn-success" id="publish">Publish</button>
    <%}%>
    <h4><%=findLokasi.name%></h4>
    <p><%=findLokasi.alamat%></p>
  </div>
  <div class="card-body">
    <span class="mb-3" id="lat" val="<%=findLokasi.latitude%>"></span>
    <span class="mb-3" id="lng" val="<%=findLokasi.longitude%>"></span>
    <div class="mt-4" style="height: 600px" id="mapContainer"></div>
    <div id="summary"></div>
  </div>
</div>

<script>
  $(document).ready(function () {
    window.action = 'direction';

    $('#publish').click(function (e) {
      e.preventDefault();
      const url = window.location.pathname.split('/');
      $.ajax({
        type: 'POST',
        url: '/publish',
        data: { id: url[3] },
        dataType: 'json',
        success: function (response) {
          console.log(response);
          if (response) {
            location.href = '/lokasi';
          }
        },
      });
    });
  });
</script>
